<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Authentication System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Raleway:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="logo"><svg width="200.00000000000006" height="30.361274913796834" viewBox="0 0 369.66666666666663 43.396001460295786" class="looka-1j8o68f"><defs id="SvgjsDefs1118"></defs><g id="SvgjsG1119" featurekey="v37d4h-0" transform="matrix(1.0003966416372116,0,0,1.0003966416372116,-8.303292316399373,-28.31122419509102)" fill="#ffffff"><path xmlns="http://www.w3.org/2000/svg" d="M8.3,54.9c0,0,42,31.3,82.1,8.4C90.5,63.3,44.2,74.9,8.3,54.9z"></path><path xmlns="http://www.w3.org/2000/svg" d="M44.8,28.3c0,0,18.9,79.3,46.8,4.9C91.7,33.1,66.5,89.9,44.8,28.3z"></path><circle xmlns="http://www.w3.org/2000/svg" cx="70.9" cy="50.5" r="3.9"></circle></g><g id="SvgjsG1120" featurekey="UxBHKT-0" transform="matrix(2.1865092544151823,0,0,2.1865092544151823,98.18967953602571,-5.1453974355116685)" fill="#ffffff"><path d="M4.38 14.02 l0 5.98 l-2.18 0 l0 -14.92 l10.5 0 l0 2.2 l-8.32 0 l0 4.52 q0.62 -0.36 1.38 -0.48 q0.56 -0.1 1.44 -0.1 l3.26 0 l0 2.22 l-3.26 0 q-0.82 0 -1.44 0.1 q-0.76 0.14 -1.38 0.48 z M20.76 6.66 l-0.82 -1.84 l2.4 0 l7.18 15.18 l-2.44 0 l-0.98 -2.18 l-4.54 0 q-1.28 0 -2.3 0.24 q-0.9 0.22 -1.5 0.58 q-0.54 0.32 -0.72 0.66 l-0.38 0.7 l-2.36 0 z M22.36 15.620000000000001 l2.76 0 l-3.26 -6.3 l-3.3 7.14 q0.44 -0.38 1.34 -0.6 q1.02 -0.24 2.46 -0.24 z M45.099999999999994 7 l-1.4 1.64 q-0.82 -0.84 -1.96 -1.32 t-2.4 -0.48 q-1.64 0 -2.99 0.74 t-2.11 2.02 q-0.78 1.34 -0.78 2.98 q0 1.56 0.84 2.88 q0.8 1.24 2.15 1.97 t2.91 0.73 q1.44 0 2.68 -0.62 t2.06 -1.72 l1.34 1.82 q-1.14 1.28 -2.73 1.99 t-3.37 0.71 q-2.22 0 -4.08 -1.08 q-1.82 -1.04 -2.86 -2.86 q-1.08 -1.86 -1.08 -4.08 q0 -2.14 1.14 -3.94 q1.08 -1.72 2.93 -2.73 t3.97 -1.01 q1.66 0 3.16 0.64 q1.46 0.6 2.58 1.72 z M50.82 14.02 l0 3.8 l9.2 0 l0 2.18 l-11.38 0 l0 -14.92 l10.5 0 l0 2.2 l-8.32 0 l0 4.52 q0.62 -0.36 1.38 -0.48 q0.56 -0.1 1.44 -0.1 l3.26 0 l0 2.22 l-3.26 0 q-0.82 0 -1.44 0.1 q-0.76 0.14 -1.38 0.48 z M68.18 6.66 l-0.82 -1.84 l2.4 0 l7.18 15.18 l-2.44 0 l-0.98 -2.18 l-4.54 0 q-1.28 0 -2.3 0.24 q-0.9 0.22 -1.5 0.58 q-0.54 0.32 -0.72 0.66 l-0.38 0.7 l-2.36 0 z M69.78 15.620000000000001 l2.76 0 l-3.26 -6.3 l-3.3 7.14 q0.44 -0.38 1.34 -0.6 q1.02 -0.24 2.46 -0.24 z M86.24 20.34 q-2.1 0 -3.61 -0.73 t-2.3 -2.11 t-0.79 -3.3 l0 -9.12 l2.16 0 l0 9.12 q0 1.92 1.18 2.94 t3.36 1.02 t3.36 -1.02 t1.18 -2.94 l0 -9.12 l2.16 0 l0 9.12 q0 1.92 -0.79 3.3 t-2.3 2.11 t-3.61 0.73 z M108.24 7.279999999999999 l-5.26 0 l0 12.72 l-2.12 0 l0 -12.72 l-5.32 0 l0 -2.2 l12.7 0 l0 2.2 z M113.2 13.4 l0 6.6 l-2.16 0 l0 -14.92 l2.16 0 l0 6.12 q0.8 -0.4 1.9 -0.4 q0.4 0 1.94 0.18 q2.16 0.26 2.92 0.26 q1.16 0 2.02 -0.38 l0 -5.78 l2.18 0 l0 14.92 l-2.18 0 l0 -6.94 q-0.86 0.38 -2.02 0.38 q-0.76 0 -2.92 -0.26 q-1.54 -0.18 -1.94 -0.18 q-1.1 0 -1.9 0.4 z"></path></g></svg></div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="https://www.linkedin.com/in/pranay-kumar-y/" target="_blank">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Welcome to FaceAuth</h1>
                <p>Experience the future of secure authentication with our state-of-the-art facial recognition technology.</p>
                <a href="/register" class="btn-primary">Get Started</a>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 FaceAuth. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
